* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: darkslateblue;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    text-align: center;
    font-family: sans-serif;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: .5em;
    padding: .1em 2.6em;
    background-color: slateblue;
    width: max-content;
    border: 2px solid lightslategray;
    border-radius: 10px;
}

header h1 {

}

header p {
    font-weight: 600;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: stretch;
    /* border: 2px solid red; */
    min-width: 600px;
    height: 75vh;
}

.calculator {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: center;
    
    width: 70%;
    background-color: lightslategray;
    border: 2px solid slateblue;
    border-radius: 10px;
    padding: .5em 0 .5em 0;
    gap: .5em;
}

.display {
    width: 95%;
    height: 30%;
    background-color: black;
    border-radius: 10px;
    border: 2px solid darkslateblue;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.display p {
    color: chartreuse;
    padding: .3em;
    font-size: 30px;
}

.buttons {
    flex: 1;
    /* width: 45%;
    height: 60%; */
    background-color: slateblue;
    border: 2px solid darkslateblue;
    border-radius: 10px;
    display: flex;
    
    justify-content: center;

}

button {
    width: 90px;
    height: 90px;
}

.numpad {
    display: flex;
    flex-wrap: wrap;
}

.calc-functions {
    display: flex;
    flex-wrap: wrap;
}